@{
    ViewData["Title"] = "Lengths Conversions";
}
<h2>@ViewData["Title"]</h2>


<p>Here's the calculation @ViewData["MtoF"]</p>
<p>Here's the calculation @ViewData["FtoM"]</p>
<p>Here's the calculation @ViewData["MtoY"]</p>
<p>Here's the calculation @ViewData["YtoM"]</p>
<p>Here's the calculation @ViewData["FtoY"]</p>
<p>Here's the calculation @ViewData["YtoF"]</p>