@{
    ViewData["Title"] = "TempConversions";
}
<h2>@ViewData["Title"]</h2>


<p>Here's the calculation @ViewData["CtoF"]</p>
<p>Here's the calculation @ViewData["FtoC"]</p>
<p>Here's the calculation @ViewData["CtoK"]</p>
<p>Here's the calculation @ViewData["KtoC"]</p>
<p>Here's the calculation @ViewData["FtoK"]</p>
<p>Here's the calculation @ViewData["KtoF"]</p>
